<% provide :title, @user.name %>
<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="profile">
      <p class="image"> <%= gravatar_for @user %> </p>
      <p class="name"> <%= t "view.user.account_user" %><h6><%= @user.name %></h6></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h1 class="have-margin"><%= t "view.user.account_info" %></h1>
    <div class="account-profile">
      <%= form_for @user do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user icon"></i></span>
          <%= f.text_field :name, class: "form-control well well-sm" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope icon"></i></span>
          <%= f.email_field :email, class: "form-control well well-sm" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <%= f.text_field :address, class: "form-control well well-sm" %>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <%= f.text_field :birthday, class: "form-control well well-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
