<div class="row">
  <div class="col-sm-4">
    <%= image_tag @product.show_img, class: "Card image cap"%>
  </div>
  <div class="col-md-offset-2"></div>
  <div class="col-sm-6 mt-30">
    <div class="detail">
      <h1 class="name"><%= @product.name %></h1>
      <p class="price">
        <%= @product.price.to_s %>
      </p>
      <p class="sale_off">
        <span class="price-label"><%= t ".saving" %></span>
        <span class="discount-percent">30 <%= t ".percent" %></span>
          <span id="span-saving-price"></span>
      </p>
      <p><%= @product.descriptions %></p>
      <span>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <%= link_to products_path, class: "btn btn-success ml-15" do %>
        <span class="glyphicon glyphicon-shopping-cart"></span> <%= t ".cart_shopping"%>
      <% end %>
    </div>
  </div>
</div>
